#container {
  margin: 0 auto;
  padding: 20px;
  width: 75%;
}

#sidebar {
  width: 100%;
}

.cell {
  float: left;
  width: 100px;
  padding: 5px;
}

#canvas-container {
  width: 100%;
}

canvas {
  margin: 0 auto;
  display: block;
  background: lightgray;
}
